*{
  margin: 0;
  padding: 0;
  font-family: poppins,sans-serif;
}

.contaier{
  margin: 0;
  padding:0;
  background-color: #f2f2f2;
}

header {
  width: 100%;
  height: 60px;
  background-color: #193c38;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

header > p{
  font-size: 1.25em;
  color: white;
  margin: 0;
  font-weight: bold;
}

.header-right > a{
  font-size: 1.25em;
  color: white;
  margin: 0;
  font-weight: bold;
  margin-left: 20px;
}

.county-card{
  height: 40px;
  width: auto;
  padding: 10px;
  border: 1px solid #193c38;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.county-card:hover{
  cursor: pointer;
  background-color: #193c38;
  color: white;
}

.county-card > p{
  margin: 0;
}

.counties-container{
  display: flex;
  flex-wrap: wrap;
}

.regions-container{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-around;
  background-color: #f2f2f2;
  width: 100vw !important;
}

.regions-container >div> p{
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.regions-container >div> p:hover{
  cursor: pointer;
  color:#193c38;
}

.selected-region > p{
  color: red !important;
}

.airtable-button{
  padding: 5px;
  border: none;
  background-color: #193c38;
  color: white;
  border-radius: 10px;
  margin: 10px;
  display: inline;
}

.airtable-button:hover{
  background-color: red;
}

.county-title-container{
  display: flex;
  align-items: center;
}

.table-name-input{
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}